
software/cv_db/cv_db

*.o

software/test/gettimeofday

software/test/prep_data

software/test/run_tests

software/test/sensor_records\.out

software/cv_db/DEBUG
*.swp
software/servers/9dof_razor_imu/LOG
software/servers/9dof_razor_imu/9dof_server
software/servers/9dof_razor_imu/DEBUG
software/cv_db/LOG
software/servers/gen_sss/DEBUG


*.plist

software/servers/gen_sss/gen_sss

software/servers/9dof_razor_imu/9dof_server\.dSYM/

software/servers/gen_sss/LOG

software/servers/gen_sss/gen_sss

*.so

software/lib/memory\.d

software/lib/serial\.d

software/servers/status/cyborg_stats

software/lib/network\.d

software/lib/status\.d

\.DS_Store

software/test/status_bar/status_test

software/servers/status/cyborg_status

software/test/status_bar/DEBUG

software/test/status_bar/LOG

software/db/DEBUG

software/db/LOG

software/db/cv_db

*.ods#
